@import url(https://fonts.googleapis.com/css?family=Roboto);
html{
    font-family: 'Roboto', sans-serif ;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

body{
    margin: 0px 0px;
}

.dark-background{
    background-color: #1F2937;
}

.header{
    padding: 16px 256px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
}

.header ul{
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #E5E7EB;
}

.header a{
    text-decoration: none;
    color: #E5E7EB;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}